oh-my-zsh:
  users:
    root:
      username: root
      group: root
  home: /root
  theme: agnoster
  disable-auto-update: false
  disable-update-prompt: true
  disable-untracked-files-dirty: true
  plugins: git zsh-completions  zsh-autosuggestions zsh-syntax-highlighting colored-man-pages
